/* Styles for the blues */

body *{
	display: block;
	margin: auto;
	font-family: 'Cabin', Sans-serif;
}

.description {
	display: block;
	margin: 1em auto;
	width: 500px;
	max-width: 90%;
	text-align: center;
	padding: 1em;
}

.playerInput {
	width: 520px;
	max-width: 100%;
}

.playerInput img {
	width: 150px;
	display: inline-block;
	padding: 10px;
}

#comic div {
	margin: 5em auto;
}

.chartContainer {
  width: 350px;
  height: 200px;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#btn {
	margin-top: 1em;
	margin-bottom: 1em;
}

#playAgain {
	margin-bottom: 5em;
}

#aboutHead, #aboutCopy {
	display: block;
	margin: auto;
	width: 500px;
}

#aboutCopy {
	margin-bottom: 3em;
}

hr {
	width: 100%;
	max-width: 500px;
	margin: 2em auto;
}

#footer {
	text-align: center;
	width: 600px;
	margin-top: 3em;
	margin-bottom: 2em;
	font-style: italic;
	font-size: .9em;
}

#footer img {
	display: inline;
	height: 2em;
	padding: 2em;
	padding-top: 1em;
}

#footer a:hover {
	background-color: white;
}



