/* Styles for the blues */

body {
	font-family: 'Cabin', Sans-serif;
}

p {
	font-size: 1.2em;
}

.mainContainer{
	display: block;
	margin: auto;
	width: 98%;
	max-width: 45em;
	margin-top: 3em;
}

.mainContainer img {
	display: block;
	margin: auto;
	max-width: 100%;
}

.description {
	text-align: center;
	padding: 1em;
}

.playerInput {
	display: block;
	margin: auto;
	width: 98%;
	max-width: 36.5em;
}

.playerInput img {
	width: 175px;
	display: inline-block;
	margin-bottom: 3em;
	margin-left: .5em;
	margin-right: .5em;
	background-color: #74e6e5;
}

#comic div {
	margin: 5em auto;
}

.chartSection {
	display: block;
	margin: auto;
	width: 475px;
	height: 325px;
	background-image: url("images/chart.jpg");
	background-repeat: no-repeat;
	background-position: left center;
}

.chartContainer {
	display: block;
	margin: auto;
	width: 350px;
	height: 200px;
	padding: 1em;
	padding-top: 3em;
	margin-top: 1em;
	margin-bottom: 1em;

}

#btn {
	display: block;
	margin: auto;
	background-color: none;
	border: none;
	padding: 0;
	margin-top: 1em;
	margin-bottom: 1em;
}

#playAgain {
	margin-bottom: 5em;
}



#aboutCopy {
	margin-bottom: 3em;
}

hr {
	margin: 2em auto;
}

#footer {
	text-align: center;
	margin-top: 3em;
	margin-bottom: 2em;
	font-style: italic;
	font-size: .9em;
}

#footer img {
	display: inline;
	height: 2em;
	padding: 2em;
	padding-top: 1em;
}

#footer a:hover {
	background-color: white;
}



